/* GENERAL */

.header {
   font-family: assistantlight; 
   font-size: 45px;
}

@media only screen and (min-width: 1000px) {
   #header-hr-r{
      margin-right: 20%;
   }
   #header-hr-l{
      margin-left: 20%;
   }
}

.title {
   font-family: assistantlight; 
   font-size: 30px;
}

.title-hr {
   margin-left: 10%; 
   margin-right: 10%;
}

.paragraph {
   padding: 4px;
   font-family: cabinregular, Helvetica, sans-serif;
}

span {
   font-family: cabinregular, Helvetica, sans-serif; /*[TODO]: Change for style in lists*/
}

/* FOOTER */

footer {
   margin-bottom: 20px;
}

.right-footer {
   padding: 30px; 
   border-left: 1.75px solid #59C3C3;
}

.left-footer {
   padding: 30px; 
}

.footer-image {
   object-fit: scale-down;
   margin: 5px;
}

.social-icon {
   margin: 7px; 
   max-width: 20px;
}

/* NAVBAR */

.main-navbar {
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 0 20px grey;
}

.nav-item {
   margin: 10px;
}

.nav-link {
   color: black !important;
   font-family: cabinregular, Helvetica, sans-serif;
}

.nav-link:hover {
   color: gray !important;
}

/* DROPDOWN */

.dropdown-menu {     /* Makes dropdown stick closer to navbar title */
   margin-top: 0;
   border-top: 0;
   font-family: cabinregular, Helvetica, sans-serif;
   color: black;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {     /* Makes dropdown open on hover */
   display: block;
   padding-left: 10px;
   padding-right: 10px;
   border: 0px;
   border-radius: 0px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {     /* Removes dropdown icon */
   display: none !important;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {     /* Changes color of dropdown hover */
   background-image:none !important;
   background-color: #6e78ff;
   color: white;
}

.dropdown-hr {
   margin-top: 5px;
   margin-bottom: 5px;
}

.dropdown-i {
   display: block;
   text-decoration: none;
   color: #111;
}

.dropdown-i:hover {
   display: block;
   text-decoration: none;
}

/* LEFT STICKY MENU */

#cover {
   background-color: white; 
   height: 300px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
} 

#leftMenu {
   padding-top: 20vh; 
   width: 50%; 
   margin-left: 25%;
   z-index: 1;
}

#leftMenu ul {
   padding: 0;
   list-style-type: none;
   font-size: 12px;
   font-weight: bold;
}

#leftMenu ul .listItem {
   border-bottom: 1px solid black;
   padding-bottom: 5px;
   padding-top: 5px;
}

hr { 
   border-top: 1px solid rgb(143, 143, 143);
   margin-bottom: 1.5rem;
}

/* IMAGES */

.image-grid {
   padding: 15px;
}

.image-grid-col {
   padding: 0;
   padding-bottom: 30px;
}

.img-fill {
   display: block; 
   width: 100%; 
   height: 100%;
   padding: 4px;
}

.img-fill-half {
   display: block; 
   width: 100%; 
   height: 50%;
   padding: 4px;
}

.image-footer {
   padding-top: 10px;
   padding-left: 5px;
   font-family: cabinitalic;
   font-size: 12px;
}

/* FONTS */

@font-face {
   font-family: 'cabinregular';
   src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
        url('fonts/cabin-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cabinsemibold';
   src: url('fonts/cabin-semibold-webfont.woff2') format('woff2'),
        url('fonts/cabin-semibold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cabinitalic';
   src: url('fonts/cabin-italic-webfont.woff2') format('woff2'),
        url('fonts/cabin-italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'assistantlight';
   src: url('fonts/assistant-light-webfont.woff2') format('woff2'),
        url('fonts/assistant-light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}