/* Index */

body {
   min-height: 100vh;
   position: relative;
   margin: 0;
   padding-bottom: 100px;     /* Height of the footer */
   box-sizing: border-box;
}

footer {
   position: absolute;
   bottom:0;
   width:100%;
}

.main-navbar{
    padding-left: 100px;
    padding-right: 100px;
}

#cover {
   background-color: white; 
   height: 450px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
} 

#leftMenu {
   padding-top: 30vh; 
   width: 50%; 
   margin-left: 25%;
   z-index: 1;
}

#leftMenu ul {
   padding: 0;
   list-style-type: none;
   font-size: 12px;
   font-weight: bold;
}

#leftMenu ul .listItem {
   border-bottom: 1px solid black;
   padding-bottom: 5px;
   padding-top: 5px;
}

hr { 
   border-top: 1px solid rgb(143, 143, 143);
   margin-bottom: 1.5rem;
}
