/* GENERAL */

body {
   min-height: 100vh;
   position: relative;
   margin: 0;
   padding-bottom: 100px;     /* Height of the footer */
   box-sizing: border-box;
}

/* FOOTER */

footer {
   position: absolute;
   bottom:0;
   width:100%;
}

.footer-image {
   min-width: 100px; 
   height: auto;
   padding: 10px;
}

.social-container {
   padding-top: 10px;
   padding-left: 35px;
   padding-right: 35px;
}

.social-icon { 
   max-width: 20px; 
   height: auto;
}

/* NAVBAR */

.main-navbar {
    padding-left: 150px;
    padding-right: 150px;
}

.nav-item {
   margin: 10px;
}

.nav-link {
   color: black !important;
   font-family: cabinregular, Helvetica, sans-serif;
}

.nav-link:hover {
   color: gray !important;
}

/* DROPDOWN */

.dropdown-menu {     /* Makes dropdown stick closer to navbar title */
   margin-top: 0;
   border-top: 0;
   font-family: cabinregular, Helvetica, sans-serif;
   color: black;
}

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {     /* Makes dropdown open on hover */
   display: block;
   padding-left: 10px;
   padding-right: 10px;
   border: 0px;
   border-radius: 0px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {     /* Removes dropdown icon */
   display: none !important;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {     /* Changes color of dropdown hover */
   background-image:none !important;
   background-color: #6e78ff;
   color: white;
}

.dropdown-hr {
   margin-top: 5px;
   margin-bottom: 5px;
}

.dropdown-i {
   display: block;
   text-decoration: none;
   color: #111;
}

.dropdown-i:hover {
   display: block;
   text-decoration: none;
}

/* LEFT STICKY MENU */

#cover {
   background-color: white; 
   height: 300px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
} 

#leftMenu {
   padding-top: 20vh; 
   width: 50%; 
   margin-left: 25%;
   z-index: 1;
}

#leftMenu ul {
   padding: 0;
   list-style-type: none;
   font-size: 12px;
   font-weight: bold;
}

#leftMenu ul .listItem {
   border-bottom: 1px solid black;
   padding-bottom: 5px;
   padding-top: 5px;
}

hr { 
   border-top: 1px solid rgb(143, 143, 143);
   margin-bottom: 1.5rem;
}

/* FONTS */

@font-face {
   font-family: 'cabinregular';
   src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
        url('fonts/cabin-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cabinsemibold';
   src: url('fonts/cabin-semibold-webfont.woff2') format('woff2'),
        url('fonts/cabin-semibold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'cabinitalic';
   src: url('fonts/cabin-italic-webfont.woff2') format('woff2'),
        url('fonts/cabin-italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'assistantlight';
   src: url('fonts/assistant-light-webfont.woff2') format('woff2'),
        url('fonts/assistant-light-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}